<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 에러</title>
</head>

<body>
    <h1>404 에러(경로 잘못됨)</h1>
</body>

</html>
