doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(defer, type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(defer, type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js")
    script(type="module", defer, src="../public/js/face-api.min.js")
    script(type="module", defer, src="../public/js/facerecog.js")
    script(type="module", src="../public/js/annyang.js")
    link(rel="shortcut icon", href="#")
    link(rel="stylesheet", href="../public/css/interview.css")
      
  body
    #message
    #message2
    div#timer 60
    // #sentiment
    video#video(autoplay, muted)
    canvas#overlayCanvas
    button.btn.hover4#playBtn(type="button") 면접시작
    form#myform(method="post", action="submit")
      button.btn.hover4#stopBtn(style="display: none") 면접제출
      input(style="display: none", type="text", id="sentence", name="sentence", value="대답 문장")
      input(type="file", name="videoBlob", style="display: none")
      input(type="hidden", name="left_eyes", value="value")
      input(type="hidden", name="right_eyes", value="value")
      input(type="hidden", name="score", value="value")

if test !== null
  h1(style="display: none")= test
if q_no !== null
  h2(style="display: none")= q_no
if c_no !== null
  h3(style="display: none")= c_no