<!DOCTYPE html>
<html>
<head>
    <title><%= pageTitle %></title>
</head>
<body>
    <h1><%= pageTitle %></h1>
    <video width="640" height="360" controls>
        <source src="<%= results %>" type="video/mp4">
    </video>
</body>
</html>
