ul.chats li.me{
    position: relative;
    list-style-type: none;
    width: 90%;
    height: auto;
    margin: 0 5% 10px 5%;
    padding: 12px;
    border-radius: 8px;
    background-color: #3b82f6;
    color: #fff;
}
ul.chats li.others{
    position: relative;
    list-style-type: none;
    width: 90%;
    height: auto;
    margin: 0 5% 10px 5%;
    padding: 12px;
    border-radius: 8px;
    background-color: #3ad657;
    color: #fff;
}
ul.chats li.me::after{
    content: "";
    position: absolute;
    top: 10px;
    right: -10px;
    width: 0;
    height: 0;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #3b82f6;
}
ul.chats li.others::after{
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    width: 0;
    height: 0;
    border-bottom: 16px solid transparent;
    border-right: 16px solid #3ad657;
}

ul.chats li.me_file{
    position: relative;
    list-style-type: none;
    width: 90%;
    height: auto;
    margin: 0 5% 10px 5%;
    border-radius: 8px;
    background-color: #3b82f6;
    color: #fff;
}
ul.chats li.others_file{
    position: relative;
    list-style-type: none;
    width: 90%;
    height: auto;
    margin: 0 5% 10px 5%;
    border-radius: 8px;
    background-color: #3ad657;
    color: #fff;
}

ul.chats li.me_file a{
    display: block;
    width: 100%;
    background: #3b82f6;
}

ul.chats li.me_file a:hover{
    display: block;
    width: 100%;
    background: #a0d3f9;
}

ul.chats li.others_file a{
    display: block;
    width: 100%;
    background: #3ad657;
}

ul.chats li.others_file a:hover{
    display: block;
    width: 100%;
    background: #A0FAA3;
}

@media screen and (max-width: 768px){
    ul.chats li{
        margin: 0 0 10px 10%;
        width: 85%;
    }
}