button, .chat form button{
    background-color: #A0D3F9; /* 추천 버튼의 배경색 */
    color: #fff; /* 텍스트 색상 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    justify-content: center;
    transition: background-color 0.3s ease;

  &:hover {
    background-color: #2691d9; 
}
}